/* Banner */

.banner {
    position: relative;
    color: rgb(255,255,255);
    text-shadow: 0 0 12px rgba(0, 0, 0, 0.7);
    background: url("../img/london.jpg") no-repeat center center / cover;
}

.banner2 {
    background-image: url("../img/banner2.jpg");
}

.banner:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.4;
    background: -moz-linear-gradient(-45deg, #383934 0%, #f17b3c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #383934 0%,#f17b3c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #383934 0%,#f17b3c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.banner .container {
    height: calc(100vh - 300px);
    position: relative;
    z-index: 2;
}

.banner h1 {
    font-size: 52px;
    line-height: 52px;
    
}

.banner p {
    font-size: 28px;
    line-height: 32px;
}

.banner img {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    margin-bottom: 150px;
    margin-right: 400px;
  
}


