/* General */

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #333;
}

a, button {
    outline: none;
}

a {
    color: rgb(255,255,255);
    text-decoration: none;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li, nav a {
    display: inline-block;
}

nav a:not(.logo) {
    padding: 10px;
}

.pull-left {
    float:left;
}

.pull-right {
    float:right;
}

.clearfix:before, .clearfix:after {
    content: '';
    display: table;
    clear: both;
}

h1, h2, h3, p {
    margin: 0 0 15px;
}

h1 {
    font-size: 28px;
    line-height: 32px;
}

h2 {
    font-size: 24px;
    line-height: 30px;
}

h3 {
    font-size: 20px;
    line-height: 24px;
}

.table, .table-cell {
    width: 100%;
    height: 100%;
}

.table {
    display: table;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;

}

.text-center {
    text-align: center;
}

figure {
    margin: 0;
    padding: 0;
}