/* Header */

.header {
    padding: 15px 0;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    background: linear-gradient(#383934, #1B1B1D);  
    position: relative;
    z-index: 3;
}
.header li {
    padding: 5px 0;
    
}

.header a:hover{
    color: #f17b3c;
    
}

.header a:active{
    color: #f17b3c;
    
}

.logo {
    font-size: 22px;
    line-height: 22px;
    font-weight: bold;
    padding-top: 15px;
    color: #f17b3c;
}