.article-list{
    padding:60px 0 0;
    margin:60px 0 0;
    border-top:1px dashed#aaa;
    list-style:none;

}
.article-list li{
    margin-bottom:30px;

}
.article-list article{
    padding:15px;
    border-radius:4px;
    box-shadow: 0 0 12px rgba(0,0,0,0.2);
    background: #fff;
    transition:transform 0.3s ease-in-out 0s;
}
.article-list article:hover{
    transform:scale(1.1);
}
.article-list p{
    min-height: 340px;
}
.article-list h4{
    margin-top:15px;
}
